.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  max-width: 600px;
  margin: 1rem auto;
}

.key {
  font-size: 1.1rem;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999;
  background-color: white;
  color: black;
}

.guessed {
  background-color: #69d06c !important;
  color: white !important;  
}

.wrong {
  background-color: #ea483d !important;
  color: white !important;
}

.key:disabled {
  cursor: not-allowed;
}