.primary {
  background-color: #333;
  color: #ffffffe8;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0.5rem;
}

.primary:hover {
  background-color: #889188;
}

.secondary {
  background-color: #6c757d;
  color: #ffffffe8;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0.5rem;
}

.secondary:hover {
  background-color: #5b636a;
}
